# .github/workflows/deploy.yml
name: Build and Publish

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'
          token: ${{ secrets.GH_TOKEN }}

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Fetch Nix devShell dependencies
        run: |
          nix develop --impure --command true

      - name: Run build.sh and publish.sh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          nix develop --impure --command bash -c './build.sh && ./publish.sh'
